/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&family=Roboto:ital,wght@0,500;1,500;1,700;1,900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.img {
  vertical-align: middle; }

body {
  font-family: 'Roboto', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

h2 {
  font-size: 64px;
  font-weight: 500;
  font-style: italic;
  line-height: 84px; }

h3, .bold-i24 {
  font-size: 24px;
  font-weight: 700;
  font-style: italic; }

.m-i24 {
  font-size: 24px;
  font-weight: 500;
  font-style: italic; }

.m-i20 {
  font-size: 20px;
  font-weight: 500; }

.fsi {
  font-style: italic; }

.mt-16 {
  margin-top: 16px; }

.flex-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.mr-24 {
  margin-right: 24px; }

.lh32 {
  line-height: 32px; }

.mb-4 {
  margin-bottom: 4px; }

.mt8mb24 {
  margin-top: 8px;
  margin-bottom: 24px;
  line-height: 36px; }

.lh36 {
  line-height: 36px; }

.header_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../images/banner.png);
  background-size: cover;
  background-position: center center;
  color: #fff;
  padding-top: 308px;
  padding-bottom: 308px; }
  .header_1 h3 {
    text-align: left; }
  .header_1 h1 {
    font-weight: 900;
    font-style: italic;
    font-size: 80px;
    text-align: left;
    margin-bottom: 32px;
    line-height: 106px; }
  .header_1 .icongroup {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 40px; }
    .header_1 .icongroup a {
      height: 60px; }
      .header_1 .icongroup a img {
        margin-right: 16px; }

.profile {
  background-color: #fff;
  color: #000;
  text-align: center; }
  .profile .pinfor h2 {
    margin-top: 56px;
    margin-bottom: 40px; }
  .profile .pinfor .perimg {
    margin-bottom: 20px; }
  .profile .perbox {
    padding-bottom: 56px;
    border-top: 1px solid #000;
    width: 384px; }
    .profile .perbox li::before {
      content: "";
      display: inline-block;
      width: 22px;
      height: 22px;
      background: #891818;
      border-radius: 50%;
      margin-right: 16px; }
    .profile .perbox li {
      margin-top: 28px; }

.brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000;
  color: #fff;
  font-weight: black;
  font-style: italic;
  text-align: center; }
  .brand h2 {
    padding-top: 56px;
    margin-bottom: 12px; }
  .brand ul {
    margin-top: 32px;
    margin-bottom: 68px; }
    .brand ul li {
      line-height: 1.5; }
  .brand .brand_img1 {
    margin-bottom: 40px; }
  .brand .b_img23 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 160px; }
    .brand .b_img23 .b_img2 {
      margin-right: 24px; }

.otherwork {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
  padding-bottom: 96px; }
  .otherwork h2 {
    margin-top: 56px; }
  .otherwork ul {
    margin-top: 16px;
    margin-bottom: 56px; }
    .otherwork ul li {
      line-height: 1.5; }
  .otherwork .imagepost .ip01 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 48px; }
    .otherwork .imagepost .ip01 p {
      line-height: 28px; }

.contact {
  background-color: #000;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 64px;
  padding-bottom: 64px; }
  .contact ul li {
    margin-top: 16px;
    line-height: 33px; }

.footer {
  height: 200px;
  background-color: #00cc99; }

/*# sourceMappingURL=all.css.map */
